@page "/CharacterCreation"
@using Managers;
@using Interfaces;
@using MudBlazor;
@inject IUserInterface userInterface;
@inject IMarine HumanPlayer;


<h3>CharacterCreation</h3>

@code {
    public static StatsManager.CharacterPrimaryStats stats = new();
    public static StatsManager.CharacterSecondaryStats secStats = new();
}

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" >
                <MudNumericField T="int" Label="Strength" @bind-Value="stats.Strength" Min="1"
                oninput="@(Handlers.PlayerStatButtonHandler.ChangeAttributeNumberFromStrength(stats, secStats, ref originalStrength))"
                  />
                
                <MudNumericField T="int" Label="Agility" @bind-Value="stats.Agility" Min="1"
                                 oninput="@(Handlers.PlayerStatButtonHandler.ChangeAttributeNumberFromAgility(stats, secStats, ref originalAgility))" />

                <MudNumericField T="int" Label="Resilience" @bind-Value="stats.Resilience" Min="1"
                                 oninput="@(Handlers.PlayerStatButtonHandler.ChangeAttributeNumberFromResilience(stats, secStats, ref originalResilience))" />

                <MudNumericField T="int" Label="Perception" @bind-Value="stats.Perception" Min="1"
                                 oninput="@((Handlers.PlayerStatButtonHandler.ChangeAttributeNumberFromPerception(stats, secStats, ref originalPerception)))" />
                

            </MudForm>
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@(() => form.Validate())">Validate</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="@(() => form.ResetAsync())" Class="mx-2">Reset</MudButton>
            <MudButton Variant="Variant.Filled" DisableElevation="true" OnClick="@(() => form.ResetValidation())">Reset Validation</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@SubmitForm">Submit</MudButton>

        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="5">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.subtitle2">@($"Errors ({errors.Length})")</MudText>
                @foreach (var error in errors)
            {
                <MudText Color="@Color.Error">@error</MudText>
            }
        </MudPaper>
    </MudItem>
</MudGrid>

<h3>Stat Points: @(Handlers.PlayerStatButtonHandler.GetAttributePoints(secStats))</h3>


@code {
    private int originalStrength = stats.Strength;
    private int originalAgility = stats.Agility;
    private int originalResilience = stats.Resilience;
    private int originalPerception = stats.Perception;



    [Inject]
    private NavigationManager NavigationManager { get; set; }


    bool success;
    string[] errors = { };
    MudForm form;

    bool isValid;


    public void SubmitForm()
    {
        if (stats.Strength < 1 || stats.Agility < 1 || stats.Perception < 1 || stats.Resilience < 1 || secStats.AttributePoints < 0)
        {
            isValid = false;
        } else
        {
            isValid = true;
        }
        if (isValid == true)
        {
            userInterface.SetPrimaryStats(HumanPlayer, stats);
            userInterface.SetSecondaryStats(secStats, HumanPlayer);
            HumanPlayer.CharacterArmor.ResilienceToArmor(HumanPlayer);

            HumanPlayer.SecondaryStats.WeightCalculation(HumanPlayer.CharacterArmor.ArmorList);
            HumanPlayer.SecondaryStats.PossibleMovementDistance(HumanPlayer);

            userInterface.SetEquipWeapon(HumanPlayer, new WeaponsManager.MainWeapons.BoltRifle());
            secStats.StartingStatAccuracyCalculation(HumanPlayer);
            

			NavigationManager.NavigateTo("./BattlePage");
		}

    }


    }


}
